/* Styles for larger screens (desktop/laptop) */
.hevea-grip-Velyen-two-jm-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 700px;
  margin-top: 1% !important;
  margin-bottom: 6% !important;
  margin-top: 20px;
  background: #ffffff;
}

.hevea-grip-Velyen-two-jm-left {
  margin-left: 0px;
  margin-top: 7%;
}

.hevea-grip-Velyen-two-jm-container {
  opacity: 0;
  transform: translateY(100px); /* Move the container down initially */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Add transition for smooth animation */
}

.hevea-grip-Velyen-two-jm-container.animate {
  opacity: 1;
  transform: translateY(0);
}

.hevea-grip-Velyen-two-jm-title {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;

  line-height: normal;
}

.hevea-grip-Velyen-two-jm-big-title {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hevea-grip-Velyen-two-jm-text {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;

  line-height: 28px;
  width: 80%;
}

.hevea-grip-Velyen-two-jm-shop-now {
  color: #ff0000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

.hevea-grip-Velyen-two-jm-shop-now:hover {
  text-decoration: none;
  color: #044c80;
}

.hevea-grip-Velyen-two-jm-right {
  width: 70%;
  margin-right: 0%;
  margin-top: 5%;
  transition: transform 0.2s ease-in-out;
}

.hevea-grip-Velyen-two-jm-right:hover {
  transform: scale(1.1);
}
.hevea-grip-Velyen-two-jm-image {
  width: 100%;
  margin-left: 15%;
  height: auto;
  width: 750px;
}

/* Media queries for smaller screens */
@media (max-width: 1750px) {
  .hevea-grip-Velyen-two-jm-container {
    flex-direction: column;
    height: auto;
  }

  .hevea-grip-Velyen-two-jm-left {
    margin: 0;
    text-align: center;
  }
  .hevea-grip-Velyen-two-jm-title {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: -40px;

    line-height: normal;
  }
  .hevea-grip-Velyen-two-jm-left {
    margin-left: 30px;
  }
  .hevea-grip-Velyen-two-jm-big-title {
    color: #ff0000;
    font-family: "Poppins", sans-serif;
    font-size: 20px !important;
    width: 90%;
    font-weight: 800;
  }

  .hevea-grip-Velyen-two-jm-text {
    max-width: 100%;
    font-size: 16px;
    width: 90%;
    text-align: left;
  }
  .hevea-grip-Velyen-two-jm-shop-now {
    color: #ff0000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    margin-left: -50px;
  }
  .hevea-grip-Velyen-two-jm-right {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hevea-grip-Velyen-two-jm-image {
    align-items: center;
    justify-content: center;
    margin-left: 60px;

    text-align: center;
    width: 300px !important;
  }
}
