.new-password-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-password-page-border {
  width: 1148px;
  height: 516px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  transition: border 0.3s ease;
}

.new-password-page-border:hover {
  border: 0.35px solid #010f1e;
}

.new-password-page-logo {
  width: 300px; /* Adjust the size as needed */
  height: auto;
  margin-left: 11%;
  margin-bottom: -30%;
  transition: transform 0.3s; /* Add a transition for smooth scaling */
}

.new-password-page-logo:hover {
  transform: scale(
    1.1
  ); /* Scale up the logo on hover (you can adjust the scale factor) */
}

.new-password-page-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 50%;
  margin-top: 10%;
}

.new-password-page-title {
  color: #010f1e;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.new-password-page-input {
  width: 517px;
  height: 37px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  transition: border 0.3s ease;
}

.new-password-page-input:hover {
  border: 0.35px solid #010f1e;
}

.new-password-page-input input {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #010f1e;
  width: 100%;
}

.new-password-page-input-1 {
  width: 403px;
  height: 37px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  transition: border 0.3s ease;
}

.new-password-page-input-1:hover {
  border: 0.35px solid #010f1e;
}

.new-password-page-input-1 input {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #010f1e;
  width: 100%;
}

.password-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1%;
}

.new-password-in-page-button {
  width: 92px;
  height: 36px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  display: flex;
  justify-content: center;
  margin-top: 1% !important;
  align-items: center;
  margin: 10px 0;
  margin-left: 58%;
  transition: border 0.3s ease;
}

.new-password-in-page-button:hover {
  border: 0.35px solid #010f1e;
}

.new-password-in-page-button button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-password-page-forgot-1 a {
  color: #010f1e;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 1%;
  cursor: pointer;
}

.new-password-page-forgot-1 a:hover {
  color: #054e9c;
}

.new-password-page-terms {
  display: flex;
  align-items: center;
  margin-left: 50% !important;
  margin-top: 1%;
  margin-bottom: -4%;
}

.new-password-page-terms input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 14%;
}

.new-password-page-terms label {
  color: #010f1e;
  font-family: "Poppins";
  font-size: 11.957px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.new-password-page-authenticate {
  display: flex;
  align-items: center;
  margin-left: 50%;
}

.new-password-page-authenticate p {
  color: #010f1e;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 35%;
  margin-top: 18%;
}

.new-password-page-icons {
  display: flex;
  align-items: center;
  margin-bottom: -12%;
  margin-left: -22.5%;
  margin-top: 17%;
}

.Svg-Continue-C {
  margin-bottom: -10%;
}

.new-password-icon-link {
  position: relative;
  display: block;
}

.new-password-icon-name {
  visibility: hidden;
  position: absolute;
  top: -50px;
  left: 20%;
  transform: translateX(-50%);
  background-color: #010f1e;
  -webkit-text-fill-color: #b49662;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.new-password-icon-link:hover .new-password-icon-name {
  visibility: visible;
  opacity: 1;
}

.new-password-icon-socials {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.new-password-icon-socials:hover {
  transform: scale(1.8);
}

.show-hide-password-svg {
  transition: fill 0.3s;
  cursor: pointer;
}

.show-hide-password-svg:hover {
  fill: gold;
}

/* SignInPage.css */

.disabled-button {
  opacity: 90%;
}

.disabled-button .Svg-Continue-C path {
  opacity: 50%;
}


.back-icon-for-sign-2{
  margin-left: 36%;
  margin-top: 20% !important;
  opacity: 0.2; /* 20% opacity */
  transition: opacity 0.4s ease; /* Adjust the transition property and duration as needed */
  
}

.back-icon-for-sign-2:hover {
  opacity: 1; /* 100% opacity on hover */
  cursor: pointer;
}
