.forgot-password-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-page-border {
  width: 1148px;
  height: 516px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  transition: border 0.3s ease;
}

.forgot-password-page-border:hover {
  border: 0.35px solid #010f1e;
}

.forgot-password-page-logo {
  width: 300px; /* Adjust the size as needed */
  height: auto;
  margin-left: 11% !important;
  margin-bottom: -30%;
  transition: transform 0.3s; /* Add a transition for smooth scaling */
}

.forgot-password-page-logo:hover {
  transform: scale(1.1);
}

.back-icon-for-sign-1 {
  margin-left: 44%;
  margin-top: 3%;
  opacity: 0.2; /* 20% opacity */
  transition: opacity 0.4s ease; /* Adjust the transition property and duration as needed */
}

.back-icon-for-sign-1:hover {
  opacity: 1; /* 100% opacity on hover */
  cursor: pointer;
}

.forgot-password-page-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 50%;
  margin-top: 10%;
}

.forgot-password-page-title {
  color: #010f1e;
  font-family: "Poppins";
  font-size: 17px;
  margin-top: 10%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.forgot-password-page-title.centered {
  transform: translateY(-280%);
}

.forgot-password-page-input-1.centered {
  transform: translateY(-170%);
}

.forgot-password-page-button.centered {
  transform: translateY(-170%);
}

.forgot-password-page-input-1 {
  width: 403px;
  height: 37px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  transition: border 0.3s ease;
}

.forgot-password-page-input-1:hover {
  border: 0.35px solid #010f1e;
}

.forgot-password-page-input-1 input {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #010f1e;
  width: 100%;
}

.forgot-password-page-button {
  width: 92px;
  height: 36px;
  flex-shrink: 0;
  border: 0.35px solid #e6e6e6;
  display: flex;
  justify-content: center;
  margin-top: -9% !important;
  align-items: center;
  margin: 10px 0;
  margin-left: 78.5%;
  transition: border 0.3s ease;
}

.forgot-password-page-button:hover {
  border: 0.35px solid #010f1e;
}

.forgot-password-page-button button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.Svg-Continue-C {
  margin-bottom: -10%;
}

/* SignInPage.css */

.disabled-button {
  opacity: 90%;
}

.disabled-button .Svg-Continue-C path {
  opacity: 50%;
}
.forgot-password-verification {
  text-align: center;
  margin-top: -8%;
  margin-right: 5%;
  margin-bottom: 100% !important;
}

.forgot-password-verification p {
  color: #010f1e;
  font-family: "Open Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.forgot-password-verification-code {
  width: 50%;
  display: inline-block;
  margin-right: 100%;
  margin-left: 25%;
  overflow: hidden;
  transition: width 0.3s;
}

.forgot-password-verification-code input {
  border: none;
  outline: none;
  font-family: "Open Sans";
  font-size: 23.33px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #010f1e;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-bottom: 0.736px solid #e6e6e6; /* Initial border style */
  transition: border-color 0.3s; /* Add a smooth transition effect for the border color */
}

.forgot-password-verification-code input:focus {
  border-color: #010f1e; /* Change the border color when the input is focused (clicked) */
}

.forgot-password-verification-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.forgot-password-verification-line {
  width: 41.376px;
  height: 0.736px;
  background: #010f1e;
  margin: 0 10px; /* Adjust the margin to control the spacing */
}

.forgot-password-verify-button-1 {
  width: 92px;
  height: 35px;
  flex-shrink: 0;
  border: 0.5px solid #010f1e;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  color: #010f1e;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
}

.forgot-password-verify-button-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background: #291a01;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease-in-out;
}

.forgot-password-verify-button-1:hover::before {
  transform: scaleX(1);
}

.forgot-password-verify-button-1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
  border: 0.5px solid #010f1e;
  background: #74b2f7;
  color: #fff;
}

.forgot-password-verify-disabled-button {
  width: 92px;
  height: 35px;
  flex-shrink: 0;
  border: 0.5px solid #010f1e;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  color: #010f1e;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  opacity: 50%;
  line-height: normal;
  position: relative;
}
